// CSS RESET
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

body {
	/* 3. Add accessible line-height */
	line-height: 1.5;
	/* 4. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}

// Variables

// Colors
@gray-800: #24232c;
@gray-500: #817092;
@gray-100: #e6e5ea;
@gray-900: #18171f;
@green-200: #a4ffaf;
@red-400: #f64a4a;
@orange-300: #fb7c58;
@yellow-300: #f8c065;

// Typography

@ff-regular: "JetBrains Mono", serif;
@fs-regular-small: 1rem;

@fw-regular: 700;
@fs-regular: 1.125rem;
@lh-regular: 1.27;

@fs-medium: 1.5rem;
@lh-medium: 1.29;

@fs-large: 2rem;
@lh-large: 1.34;

.heading-regular {
	font-size: @fs-regular;
	line-height: @lh-regular;
}

.heading-medium {
	font-size: @fs-medium;
	line-height: @lh-medium;
}

.heading-large {
	font-size: @fs-large;
	line-height: @lh-large;
}

// General Styles
body {
	font-family: @ff-regular;
	font-weight: @fw-regular;
	// font-size
	background-color: @gray-900;
	color: @gray-100;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main {
	flex: 1;
	display: grid;
	place-content: center;
	text-align: center;
	padding: clamp(0rem, -2.9271971094618556rem + 12.489107899402063vw, 8.313rem)
		1rem;
}

fieldset {
	border: none;
	padding: 0;
}

// Components

.title {
	.heading-medium();
	color: @gray-500;
}

.container {
	text-align: left;
	display: grid;
	gap: 1rem;

	.pwd {
		position: relative;

		.pwd__input {
			width: 100%;
			background-color: @gray-800;
			border: none;
			padding: 1rem;
			.heading-medium();
		}

		.pwd__copy {
			position: absolute;
			top: 1.5rem;
			right: 2rem;
			background-image: url("assets/images/icon-copy.svg");
			height: 1.5rem;
			width: 1.313rem;
			border: none;
			background-repeat: no-repeat;
			background-color: transparent;
		}
	}

	.settings {
		background-color: @gray-800;
		padding: 1rem;

		.settings__char-slider {
			padding: 1rem;
			display: flex;
			flex-direction: column;
			gap: 1rem;

			.char-slider__label {
				display: flex;
				justify-content: space-between;

				.char-slider__num {
					color: @green-200;
					.heading-medium();
				}
			}

			.char-slider__slider {
				appearance: none;
				-webkit-appearance: none;
				height: 0.5rem;
				outline: none;
				border: none;
				width: 100%;
			}

			.char-slider__slider::-moz-range-thumb {
				-moz-appearance: none;
				border: 1rem solid @gray-100;
				background: @gray-100;
				pointer-events: auto;
				cursor: pointer;
				border-radius: 10px;
			}

			.char-slider__slider::-webkit-slider-thumb {
				-webkit-appearance: none;
				width: 1.75rem;
				height: 1.75rem;
				border-radius: 50%;
				border: 1rem solid @gray-100;
				background: @gray-100;
				pointer-events: auto;
				cursor: pointer;
			}
		}

		.settings__checkboxes {
			padding: 1rem;
			display: flex;
			flex-direction: column;

			.checkbox {
				width: 1.25rem;
				height: 1.25rem;
				appearance: none;
				-webkit-appearance: none;
				background-color: transparent;
				border: 2px solid @gray-100;
				cursor: pointer;
				position: relative;
			}

			.checkbox:checked {
				background-color: @green-200;
				border: 1px solid @green-200;
			}

			.checkbox:checked::after {
				content: url(assets/images/icon-check.svg);
				position: absolute;
				left: 0.175rem;
				top: -0.075rem;
			}
		}

		.settings__display {
			display: flex;
			background-color: @gray-900;
			padding: 1rem;
			justify-content: space-between;
			align-items: center;
			text-transform: uppercase;
			.display__title {
				color: @gray-500;
				font-size: 1rem;
			}

			.display__info {
				display: flex;
				gap: 1rem;
				align-items: center;
				.display__strength-name {
					color: @gray-100;
				}

				.display__scale {
					display: flex;
					gap: 0.5rem;
					.scale__el {
						min-height: 1.75rem;
						min-width: 0.625rem;
						border: 2px solid @gray-100;

						&:not(:last-child) {
							background-color: @orange-300;
							border: none;
						}
					}
				}
			}
		}
	}
}
