// CSS RESET
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

body {
	/* 3. Add accessible line-height */
	line-height: 1.5;
	/* 4. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}

// Variables

// Colors
@gray-800: #24232c;
@gray-500: #817092;
@gray-100: #e6e5ea;
@gray-900: #18171f;
@green-200: #a4ffaf;
@red-400: #f64a4a;
@orange-300: #fb7c58;
@yellow-300: #f8c065;

// Typography

@ff-regular: "JetBrains Mono", serif;

@fw-regular: 700;
@fs-regular: 1.125rem;
@lh-regular: 1.27;

@fs-medium: 1.5rem;
@lh-medium: 1.29;

@fs-large: 2rem;
@lh-large: 1.34;

// Spacing and positioning

@sp-1: 1rem;

.heading-body {
	font-size: clamp(1rem, 2.34vw, @fs-regular);
	line-height: @lh-medium;
}

.heading-medium {
	font-size: clamp(1rem, 3.125vw, @fs-medium);
	line-height: @lh-medium;
}

.heading-large {
	font-size: @fs-large;
	line-height: @lh-large;
}

.inner-space-1 {
	padding: @sp-1;
	gap: @sp-1;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-align-center(@justify) {
	display: flex;
	align-items: center;
	justify-content: @justify;
}

.webkit-appearance-none {
	appearance: none;
	-webkit-appearance: none;
}

.sizes(@width, @height) {
	width: @width;
	height: @height;
}

.position-absolute(@top, @right) {
	position: absolute;
	top: @top;
	right: @right;
}
// General Styles
body {
	font-family: @ff-regular;
	font-weight: @fw-regular;
	.heading-body();
	background-color: @gray-900;
	color: @gray-100;
	.flex-center();
	flex-direction: column;
	overflow: hidden;
	min-height: 100vh;
}

main {
	flex: 1;
	display: grid;
	place-content: center;
	text-align: center;
	padding: clamp(0rem, 2.8vw, 2.5rem) 1rem;
	max-width: 33.75rem;
}

fieldset {
	border: none;
	padding: 0;
}

.err-msg {
	color: @red-400;
	font-style: italic;
	display: none;
}

// Components Styles

.title {
	color: @gray-500;
	margin-bottom: @sp-1;
	.heading-medium();
}

.container {
	text-align: left;
	display: grid;
	gap: 2rem;

	@media (min-width: 48rem) {
		width: 33.75rem;
	}

	.pwd {
		.flex-align-center(space-between);
		.inner-space-1();
		background-color: @gray-800;
		color: white;
		.heading-large();

		.pwd__display.empty {
			opacity: 0.25;
		}

		.pwd__copy {
			.copy-btn {
				border: none;
				background-repeat: no-repeat;
				background-color: transparent;
				cursor: pointer;
				.flex-center();
				gap: @sp-1;

				&:hover path {
					fill: white;
				}

				p {
					color: @green-200;
					text-transform: uppercase;
					display: none;
				}
			}
		}
	}

	.settings {
		background-color: @gray-800;
		gap: @sp-1;
		padding: clamp(0rem, 2.2vw, 2rem) 2rem;
		display: grid;
		.settings__char-slider {
			.inner-space-1();
			display: flex;
			flex-direction: column;

			.char-slider__label {
				.flex-align-center(space-between);

				.char-slider__num {
					color: @green-200;
					.heading-large();
				}
			}

			.char-slider__slider {
				.webkit-appearance-none();
				outline: none;
				border: none;
				.sizes(100%, 0.5rem);

				&::-moz-range-thumb {
					-moz-appearance: none;
					.sizes(1.75rem, 1.75rem);
					border: 1rem solid @gray-100;
					background: @gray-100;
					pointer-events: auto;
					cursor: pointer;
					border-radius: 50%;
				}

				&::-webkit-slider-thumb {
					.webkit-appearance-none();
					.sizes(1.75rem, 1.75rem);
					border-radius: 50%;
					border: 1rem solid @gray-100;
					background: @gray-100;
					pointer-events: auto;
					cursor: pointer;
					transition: all 0.1s;

					&:hover,
					&:active,
					&:focus {
						background: @gray-900;
						border: 2px solid @green-200;
					}
				}
			}
		}

		.settings__checkboxes {
			padding: @sp-1;
			display: flex;
			flex-direction: column;
			gap: min(4.26vw, 1.25rem);

			.checkbox__label {
				.flex-align-center(flex-start);
				gap: clamp(0.5rem, 2vw, 1rem);
				.heading-body();
				.checkbox {
					.sizes(1.25rem, 1.25rem);
					.webkit-appearance-none();
					background-color: transparent;
					border: 2px solid @gray-100;
					cursor: pointer;
					position: relative;
				}

				.checkbox:checked {
					background-color: @green-200;
					border: 1px solid @green-200;
				}

				.checkbox:checked::after {
					content: url(assets/images/icon-check.svg);
					.position-absolute(-0.175rem, 0.1rem);
				}
			}
		}

		.settings__display {
			background-color: @gray-900;
			padding: @sp-1;
			.flex-align-center(space-between);
			text-transform: uppercase;
			.display__title {
				color: @gray-500;
				.heading-body();
			}

			.display__info {
				gap: @sp-1;
				.flex-align-center(flex-start);
				.display__strength-name {
					color: @gray-100;
					.heading-medium();
				}

				.display__scale {
					display: flex;
					gap: 0.5rem;
					.scale__el {
						min-height: 1.75rem;
						min-width: 0.625rem;
						border: 2px solid @gray-100;
					}
				}
			}
		}

		.btn {
			.inner-space-1();
			text-transform: uppercase;
			background-color: @green-200;
			border: none;
			.flex-center();
			transition: all 0.3s;

			&:hover {
				background-color: transparent;
				border: solid 2px @green-200;
				color: @green-200;

				path {
					fill: @green-200;
				}
			}
		}
	}
}
